.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    width: 100%;
}

.side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}

.side a {
    /*padding: 6px 8px 6px 16px;*/
    text-decoration: none;
    font-size: 22px;
    color: #2196F3;
    display: block;
}

.side a:hover {
    color: #064579;
}

/* Main column */
.main {
    height: 100%;
    width: 100%;
    -ms-flex: 80%; /* IE10 */
    flex: 80%;
    /*-ms-flex: 85%; !* IE10 *!*/
    /*flex: 85%;*/
    background-color: white;
    padding: 20px;
    overflow: auto;
}

body, html {
    height: 100%;
    width: 100%;
}

.doku-abschnitt-right{
    margin: 15px 15px 50px;
    overflow: visible;
    width: unset;
    float:right;
}
.doku-abschnitt-left{
    margin: 15px 15px 50px;
    overflow: visible;
    width: unset;
    float: left;
}
.doku-bild-right{
    border: 1px solid black;
    overflow: visible;
    width: 100%;
}
.doku-bild-left{
    border: 1px solid black;
    overflow: visible;
    width: 100%;
}

@media only screen and (min-width: 700px){
    .doku-bild-right{
        margin-left: 15px;
        margin-right: 15px;
        border: 1px solid black;

        float: right;
        width:635px;
        height:322px;
        overflow: visible;
        clear:right;
    }
    .doku-bild-left{
        margin-left: 15px;
        margin-right: 15px;
        border: 1px solid black;

        float: left;
        width:635px;
        height:322px;
        overflow: visible;
        clear:left;
    }
}

@media only screen and (min-width: 940px){
    .row{
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        height: calc(100% - 104px);
        width: 100%;
    }
}