.shopContent{
  display: inline-grid;
  width: 310px;
}
.shopimg{
  height: 300px;
  width: 300px;
  background-color: #aaa;
  width:100%;
  padding:20px;
}
/*this creates a black frame when moving about an shop item*/
div.shopContent:hover {
  border: 2px solid #777;
  with:308px;
}
.focusExitButton{
  background-color: red;
  height: 50px;
  width:100px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  display: none;
}

div.shopContent:active {
  height: 80%;
  width: 50%;
  z-index: 5;
  position: fixed;
  top: 10%;
  left: 30%;
  background-color: white;
}

