.shopContent{
  display: inline-grid;
  width: 310px;
}
.shopimg{
  height: 300px;
  width: 300px;
  background-color: #aaa;
  width:100%;
  padding:20px;
}
/* The following code is commented for further development
div.shopContent:hover {
  border: 2px solid #777;
}
div.shopContent:active {
  height:1000px;
  width: 1000px;
  z-index: 5;
  position: fixed;
  top: 100px;
 left: 700px;
 background-color: black;
}
div.shopimg:active{
  height:1000px;
  width: 1000px;
}*/
